.color-pallete {
	color: #de354c;
	color: #932432;
	color: #3c1874;
	color: #283747;
	color: #f3f3f3;
}

.body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #f3f3f3;
}

.header {
	z-index: 1;
	background-color: #f3f3f3;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.header .border {
	margin: auto;
	width: 50%;
	border-bottom: 1px solid black;
}

.main {
	margin-top: 8rem;
}

.h1,
.ul {
	text-align: center;
}

.h1,
.h2 {
	color: #3c1874;
}

.li {
	color: #de354c;
	margin-left: 0.5rem;
	font-weight: bolder;
	list-style-type: none;
	display: inline;
}

.post {
	margin: 0 auto 6rem;
	width: 50vw;
}

.title h2 {
	text-align: center;
}

.title h2 {
	margin-bottom: 0.125rem;
}

.title a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-style: italic;
	margin-top: 0;
}

.read-more {
	text-align: center;
	margin: auto;
}

.button {
	padding: 0.5rem 2rem;
	font-weight: bolder;
	font-size: 1.25rem;
	color: #de354c;
	border-radius: 1rem;
	border-color: #283747;
	box-shadow: -0.1rem 0.15rem #888888;
	border-width: 0.1rem;
}
