@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* pallette#1 */
  --background: linear-gradient(
    145deg,
    hsla(23, 23.6%, 82.5%) 10%,
    hsla(23, 23.6%, 82.5%) 20%,
    hsla(23, 23.6%, 82.5%) 30%,
    hsla(23, 23.6%, 82.5%) 40%,
    hsla(23, 23.6%, 82.5%) 50%,
    hsla(23, 23.6%, 82.5%) 60%,
    hsla(23, 23.6%, 82.5%) 70%,
    hsla(23, 23.6%, 82.5%) 80%,
    hsla(23, 23.6%, 82.5%) 90%,
    hsla(23, 23.6%, 82.5%) 100%
  );
  /* pallette#2 */
  /* --background: linear-gradient(
    145deg,
    hsla(224, 56%, 14%) 10%,
    hsla(224, 56%, 14%) 20%,
    hsla(224, 56%, 14%) 30%,
    hsla(224, 56%, 14%) 40%,
    hsla(224, 56%, 14%) 50%,
    hsla(224, 56%, 14%) 60%,
    hsla(224, 56%, 14%) 70%,
    hsla(224, 56%, 14%) 80%,
    hsla(224, 56%, 14%) 90%,
    hsla(224, 56%, 14%) 100%
  ); */

  --hover: rgba(255, 255, 255, 0.25);
  /* pallette#1 */
  --header-font: rgba(50, 50, 50, 1);
  --regular-font: rgba(50, 50, 50, 0.8);
  --link-font: rgba(50, 50, 50, 0.6);
  /* pallette#2 */
  /* --header-font: rgb(226, 232, 240);
  --regular-font: rgb(148, 163, 184);
  --link-font: rgb(226, 232, 240); */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
  border-radius: 1.5rem;
  text-decoration-line: underline;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-image: var(--background);
}

.title {
  color: var(--header-font);
  margin: 0;
  padding: 0;
}

.paragraph-header {
  color: var(--header-font);
}

.paragraph {
  color: var(--regular-font);
}

.link {
  color: var(--link-font);
}

.author {
  color: var(--link-font);
}

.caption {
  color: var(--regular-font);
}

.date {
  color: var(--regular-font);
}

.hover {
  background-color: var(--hover);
}
