@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --root-background: linear-gradient(
    145deg,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%,
    hsla(36, 61%, 86%) 100%
  );
  --header-background: linear-gradient(
    145deg,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%,
    hsl(245, 13%, 20%) 100%
  );

  --nav-font-size: 1.5rem;
  --nav-font-weight: 600;
  --section-heading-font-size: 3.5rem;
  --section-heading-font-weight: 700;
  --sub-heading-font-size: 2rem;
  --sub-heading-font-weight: 500;
  --title-heading-font-size: 1.5rem;
  --title-heading-font-weight: 500;
  --caption-font-size: 0.875rem;
  --caption-font-weight: 300;
  --paragraph-font-size: 1rem;
  --paragraph-font-weight: 400;
  --hover: rgba(0, 140, 186, 0.25);
  --header-font: rgba(255, 255, 255, 1);
  --regular-font: rgba(46, 45, 58, 1);
  --link-font: rgba(15, 52, 96, 1);
}

.MuiButton-text {
  padding-left: 0px;
}

a {
  color: #0f3460;
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
  border-radius: 1.5rem;
  text-decoration-line: underline;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgba(26, 26, 46, 1);
  background-image: var(--root-background);
}

.MuiTypography-h2 {
  font-size: var(--section-heading-font-size) !important;
  font-weight: var(--section-heading-font-weight) !important;
}

.MuiTypography-h3 {
  font-size: var(--sub-heading-font-size) !important;
  font-weight: var(--sub-heading-font-weight) !important;
}

.MuiTypography-h4 {
  font-size: var(--title-heading-font-size) !important;
  font-weight: var(--title-heading-font-weight) !important;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4 {
  font-family: "Montserrat", sans-serif !important;
}

.MuiTypography-h5 {
  font-size: var(--paragraph-font-size);
}

.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: "Open Sans", sans-serif !important;
}

a:hover {
  color: #00bfff;
}

.title {
  margin: 0;
  padding: 0;
}

.paragraph-header {
  color: var(--header-font);
}

.paragraph {
  font-size: var(--paragraph-font-size) !important;
  font-weight: var(--paragraph-font-weight) !important;
  color: var(--regular-font);
}

.link {
  color: var(--link-font);
}

.author {
  color: var(--link-font);
}

.caption {
  color: var(--regular-font);
}

.date {
  color: var(--regular-font);
}

.hover {
  background-color: var(--hover);
}
