#post-descriptions-container ul > li,
#post-descriptions-container ul > div {
  width: fit-content;
}

#post-descriptions {
  list-style: none;
  padding-left: 0;
}

#post-descriptions .small > div {
  color: inherit;
  display: inline;
}

#post-descriptions .description-title > div {
  margin-left: 0;
  font-size: 1.5rem;
}

#post-descriptions div {
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
  margin-left: 0;
  padding-left: 0;
}

.post-description-container:hover {
  cursor: pointer;
  max-width: fit-content;
  border-radius: 1.5rem;
  background-color: rgba(15, 132, 228, 0.3);
}
