#post-descriptions-container > .title {
  margin-left: 4.75rem;
}

#post-descriptions {
  list-style: none;
}

#post-descriptions .small > div {
  color: inherit;
  display: inline;
}

#post-descriptions .description-title > div {
  margin-left: 0;
  font-size: 1.5rem;
}

#post-descriptions div {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.post-description-container:hover {
  cursor: pointer;
  max-width: fit-content;
  border-radius: 3rem;
  padding: 2rem;
  background-color: rgba(15, 132, 228, 0.1);
}
