#post-descriptions-container ul > li,
#post-descriptions-container ul > div {
  width: fit-content;
}

#post-descriptions {
  list-style: none;
}

#post-descriptions .small > div {
  color: inherit;
  display: inline;
}

#post-descriptions .description-title > div {
  margin-left: 0;
  font-size: 2.5rem;
}

#post-descriptions .title {
  margin-bottom: 1rem;
}

.post-header {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post-display {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: fit-content;
}

.post-display:hover {
  cursor: pointer;
  /* max-width: fit-content; */
  border-radius: 1.5rem;
  background-color: var(--hover);
}

.small-list-item {
  color: var(--regular-font);
}
