body {
    background-color: #1A1A2E !important;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 80px 0;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4,
.MuiTypography-h5,
.MuiTypography-h6 {
  font-family: "Montserrat", sans-serif;
  color: #1a1a2e;
  margin-bottom: 20px;
}

a {
  color: #0f3460;
  text-decoration: none;
}

a:hover {
  color: #00bfff;
}
