@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

#navbar {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  background-color: hsla(119, 66%, 82%, 1);
  box-shadow: 3px 3px hsla(119, 66%, 87%, 1);
}

#navbar .toolbar {
  pointer-events: all;
}

#logo {
  position: fixed;
  pointer-events: all;
  z-index: 1;
}

#navbar .toolbar a span div {
  font-size: 1.25rem;
  font-family: "Open Sans";

}

#navbar > div {
  text-align: center;
  margin: auto;
  padding-left: 12rem;
}