.image-container{
  margin: 1rem 0;
}

#post-body .image-container .caption, #post-body .image-container img{
  max-width: 300px;
}

#post-body, #post-body .image-container{
  padding: 0;
}

#post-body p{
  margin-top: 1rem;
}

#post-body .caption{
  margin: 0;
  padding: 0;
}

#post-body ul, #post-body ol{
  margin-left: 1rem;
  padding: 0;
}

#post-body .quote{
  margin-top: 1rem;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
}

#post-body .paragraph{
  margin: 1rem 0;
}

#post-body .paragraph-header{
margin-bottom: 1rem;
}

#post-body .html-example, #post-body .css-example{
  list-style: none;
  background-color: hsl(0,0%,12%);
  color: white;
}

#post-body .html-example li{
padding: .5rem 0;
}

#post-body .code-example ul li{
  list-style: none;
}

.code-example{
  color: white;
}

.bg-blue{
  background-color: blue;
}

.bg-yellow{
  background-color: yellow;
}

.bg-hotpink{
  background-color: hotpink;
}

.bg-code{
  background-color: hsl(0,0%,12%);
}

.fn-bold{
  font-weight: bold;
}

.fn-italic{
  font-style: italic;
}

.fn-20px{
  font-size: 20px;
}

.fn-hotpink{
  color: hotpink;
}

.fn-ltblue{
  color: hsl(206,76%,49%);
}

.fn-dkblue{
  color: hsl(208,63%,51%);
}
.fn-purple{
  color: hsl(346,41%,61%);
}
.fn-green{
  color: hsl(132,34%,34%);
}
.fn-yellow{
  color: hsl(42,72%,42%);
}
.fn-orange{
  color: hsl(17,34%,57%);
}
