.preview-card {
  flex-basis: 40%;
  margin-top: 1rem;
  padding: 1rem;
  max-width: 300px;
}

.preview-card Button,
.preview-card div {
  padding: 0;
  margin: 0;
}

.preview-card .card-media {
  height: 200px;
  width: 200px;
}