.project-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

#projects-info > .project-container {
  margin: 0;
  padding-right: 0;
  max-width: 80vw;
}

#projects-container ul > li,
#projects-container ul > div {
  width: fit-content;
  margin-left: 0;
  padding-left: 0;
}

#projects-info {
  list-style: none;
  /* padding-left: 24px; */
}

#projects-info .description > div {
  color: inherit;
  display: inline;
}

#projects-info .description-title > div {
  margin-left: 0;
  font-size: 1.5rem;
}

#projects-info div {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#projects-info .paragraph {
  margin-top: 1rem;
  margin-left: 0rem;
}

#projects-info .small-picture {
  margin-left: 0rem;
  padding-left: 0rem;
}

#projects-info .small-picture img,
#projects-info .small-picture .caption {
  margin-left: 0;
  padding-left: 0rem;
  height: 60%;
  width: 60%;
}
