.read-more {
	text-align: center;
	margin: auto;
}

button {
	padding: 0.5rem 2rem;
	font-weight: bolder;
	font-size: 1.25rem;
	color: #de354c;
	border-radius: 1rem;
	border-color: #283747;
	box-shadow: -0.1rem 0.15rem #888888;
	border-width: 0.1rem;
}